.dub
docs.json
__dummy.html
docs/
xrandr-parse.so
xrandr-parse.dylib
xrandr-parse.dll
xrandr-parse.a
xrandr-parse.lib
xrandr-parse-test-*
libxrandr-parse.so
libxrandr-parse.dylib
libxrandr-parse.dll
libxrandr-parse.a
libxrandr-parse.lib
libxrandr-parse-test-*
*.exe
*.o
*.obj
*.lst
